* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: white;
    overflow-x: hidden;
}

.changeColor {
    background: white;
}

header {
    background-color: #FFDA00;
    height: 100vh;
    padding-top: 60px;

}

h3 {
    font-size: 1.5em;
    font-family: gilroy-bold;
    line-height: 30px;
}

h2 {
    font-size: 2.827em;
    font-family: gilroy-bold;
}

/*------------Navigatie----------*/

.navigatie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*      padding: 30px 10%;*/
}

.logo {
    cursor: pointer;
}

.nav__links a {
    font-family: "Circular Std", sans-serif;
    font-weight: 100;
    color: #000;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}


/*------*/


h1 {
    font-size: 3.998em;
    font-family: gilroy-black;
    width: 630px;
    line-height: 70px;
}

header h1 {
    margin-top: 200px;
}

header p {
    font-size: 1.4em;
    margin-top: 50px;
    width: 630px;
    font-family: gilroy-medium;
}

header .secondButton {
    margin-top: 90px;
}

.secondButton a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: gilroy-bold;
}

.mycontain {
    margin: 0 auto;
    width: 1060px;
    /*        background-color: aqua;*/
}


/*-- Cases ----*/


#cases {
    background-color: #000;
    padding-top: 165px;
    height: 1400px;
}

#cases h2 {
    color: white;
    font-family: gilroy-black;
    font-size: 2.827em;
    margin-bottom: 40px;
}

#cases p {
    color: white;
    font-family: gilroy-regular;
    line-height: 25.6px;
    /*    width: 480px;*/
}

.case-item {
    margin-right: 50px;
}

.case-item p:first-of-type {
    font-size: 0.8750em;
    text-transform: uppercase;
    opacity: 50%;

}

.case-item h3 {
    color: white;
    width: 400px;
    margin-top: 10px;
}

.case-item img {
    border-radius: 15px 15px 0px 0px;
}

.yellowbutton {
    margin-top: 40px;
}

.yellowbutton a {
    text-decoration: none;
    color: #FFDA00;
    font-weight: 600;
    font-family: gilroy-bold;
}

.cases {
    /*    margin-left: 300px;*/
    margin-top: 100px;
    display: flex;
    /*    overflow: hidden;*/
    overflow: scroll;
    padding-left: 18%;
}

.yellowbtn {
    font-family: gilroy-bold;
    padding: 18px;
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 182px;
    background: #FFDA00;
    border-radius: 5px;
    margin-top: 235px;
}


/*reviews------*/

#reviews {
    height: 700px;
}

#reviews h2 {
    text-align: center;
    margin-top: 215px;
    margin-bottom: 215px;
    font-family: gilroy-black;
}

#reviews .review .comment {
    font-family: gilroy-medium;
    font-size: 1.414em;
    line-height: 34px;
    text-align: center;
    width: 445px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.review-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.review-persoon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 180px;
}

.review-persoon p:nth-child(1) {
    font-family: gilroy-bold;
}

.review-persoon p:nth-child(2) {
    font-family: gilroy-medium;
}

/*----- watwedoen----*/

#watwedoen {
    background-color: #FFDA00;
    height: 100vh;
    padding-top: 275px;
}

#watwedoen h2 {
    text-align: center;
    margin-bottom: 184px;
    font-family: gilroy-black;
}

#watwedoen .services-container .service-item h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    /*    width: 110px*/
}


#watwedoen .services-container {
    display: flex;
    justify-content: space-between;
}

/*daten met wonk-----*/

#daten {
    margin-bottom: 300px;
}

.date-container h2 {
    font-size: 2.827em;
    font-family: gilroy-black;
    margin-bottom: 45px;
}

.date-container p {
    font-size: 1.0625em;
    line-height: 25.6px;
    font-family: gilroy-medium;
}

.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 450px;
}

.date-container img {
    border-radius: 15px;
    box-shadow: 20px 16px 16px rgba(0, 0, 0, 0.05);
}

.daten-tekst p {
    width: 480px;
}


/*----partners----*/

#partners p {
    font-size: 0.707em;
    font-family: gilroy-bold;
    color: #C5C5C5;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 75px;
}

.logos {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 75px auto;
}

footer {
    margin-top: 300px;
    padding-top: 140px;
    background-color: #000;
    height: 533px;
}


.parent {
    display: grid;
    grid-template-columns: 2fr 0.4fr repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
}

.div2 p {
    color: #FFDA00;
    font-family: Gilroy-Bold;
    font-size: 18px;
}

.div3 {
    grid-area: 1 / 4 / 2 / 5;
}

.div3 p {
    color: #FFDA00;
    font-family: Gilroy-Bold;
    font-size: 18px;
}

.div4 {
    grid-area: 1 / 5 / 2 / 6;
}

.div4 p {
    color: #FFDA00;
    font-family: Gilroy-Bold;
    font-size: 18px;
}

.div5 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 p {
    color: white;
    opacity: 60%;
    font-size: 0.707em;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.div6 p,
.div7 p,
.div8 p,
.div10 p,
.div11 p,
.div12 p {
    color: #fff;
    font-family: Gilroy-Medium;
    font-size: 1em;
}

.div7 {
    grid-area: 2 / 4 / 3 / 5;
}

.div8 {
    grid-area: 2 / 5 / 3 / 6;
}

.div9 {
    grid-area: 3 / 1 / 4 / 2;
}

.div10 {
    grid-area: 3 / 3 / 4 / 4;
}

.div11 {
    grid-area: 3 / 4 / 4 / 5;
}

.div12 {
    grid-area: 3 / 5 / 4 / 6;
}


/*cases -------*/

.cases-title {
    text-align: center;
    width: 100%;
}

.cases-subtitle {
    text-align: center;
    width: 481px;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 34px;
}

.case-item-1 {
    width: 340px;
    height: 515px;
    background: linear-gradient(180deg, #0094C2 0%, #48B2D3 100%), #48B2D3;
    border-radius: 15px
}

.case-item-2 {
    width: 340px;
    height: 600px;
    background: linear-gradient(160.79deg, #CB0000 -7.92%, #ED3535 91.77%), #48B2D3;
    border-radius: 15px
}

.case-item-3 {
    width: 340px;
    height: 515px;
    background: linear-gradient(168.22deg, #479072 6.43%, #1E7D56 99.59%), #48B2D3;
    border-radius: 15px
}

.case-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.case-container div {
    padding: 23px 33px;
}

.case-container p {

    font-family: Gilroy-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    opacity: 50%;
    margin-bottom: 23px;

}

.case-container h3 {
    color: #fff;
    width: 230px;
}


/*wijzijnwonk-------*/

.wijzijn-subtitle {
    width: 935px;
    text-align: center;
    line-height: 34px;
}

.medewerker {
    padding: 30px;
    background-color: blue;
    height: 510px;
    width: 305px;
    border-radius: 15px;
    background-image: url("/images/johan.jpg");
    color: white;
    margin-right: 30px;
    overflow: scroll;
    flex-shrink: 0;
}

.medewerker p:first-of-type {
    font-size: 0.8750em;
    text-transform: uppercase;
    opacity: 50%;

}

.medewerkers-container {
    display: flex;
    /*    justify-content: space-between;*/
    /*    margin-top: 100px;*/
    overflow: scroll;
    padding-left: 18%;
}

#medewerkers .mycontain:nth-child(2) {
    margin-top: 350px;
    margin-bottom: 23px;
}

#medewerkers {
    background-color: #000;
    padding-top: 500px;
    height: 2000px;
}

#medewerkers h2 {
    color: white;
    font-family: gilroy-black;
    font-size: 2.827em;
    margin-bottom: 40px;
}

#medewerkers p {
    color: white;
    font-family: gilroy-regular;
    line-height: 25.6px;
    /*    width: 480px;*/
}


.foto-1 {
    background-color: blue;
    height: 350px;
    width: 277px;
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 80px;
}

.foto-2 {
    background-color: blue;
    height: 350px;
    width: 277px;
    border-radius: 15px;
    margin-right: 30px;
}

.foto-container {
    display: flex;
    position: absolute;
    top: 700px;
    left: 700px;
    overflow: scroll;
}


/*case study------*/

.case-study-img {
    height: 554px;
    border-radius: 15px;
    margin-top: 120px;
    box-shadow: 20px 16px 16px rgba(0, 0, 0, 0.05);
    margin-bottom:

}

.case-study {
    margin-top: 500px;
}

.case-study h2 {
    text-align: center;
    margin-bottom: 55px;
    font-family: Gilroy-black;

}

.case-study h3 {
    font-family: Gilroy-SemiBold;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.case-study p {
    text-align: center;
    font-family: Gilroy-Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 481px;
    margin: 0 auto;
}

.case-study img {
    width: 372px;
    border-radius: 15px;
}

.case-study img:first-of-type {
    position: absolute;
/*    margin-top: 10px;*/
}

.case-study img:last-of-type {
/*    position: absolute;*/
    margin-top: 240px;
    margin-left: 300px;
}

.case-study .mycontain div {
    margin: 0 auto;
}
